<div class="panel panel-default">
	<div class="panel-body">
		<h1>Prerender with Angular</h1>
		<strong>Welcome to our wonderful site!</strong>
		<p>We have a lot of content to share with the world and it is crucial that we get our pages indexed correctly into search engines.</p>
	</div>
</div>